@{
    ViewData["Title"] = "Order Details";
}
@model Codecool.CodecoolShop.Models.OrderForDelete

<h2>Thank You for Your order! </h2>
<h3>Order number @Model.OrderId</h3>
@foreach (var item in Model.CartDetails)
{
    <div class="shopping-cart-holder">
        <div class="img-container">
            <img src="../img/@(item.Product.Name).jpg" width="100%" height="100%"/>
        </div>
        <div class="product-name-container">
            <h4>@item.Product.Name</h4>
        </div>
        <div class="product-description-container">
            <div class="product-quantity-container">
                <p>Quantity: @item.Quantity</p>
                <p>@item.Product.DefaultPrice$</p>
            </div>
            <p>@item.Product.Description</p>
        </div>
            

    </div>
}
<p id="checkoutvalue">Total order value <b>@Model.ShoppingCartValue$</b></p>
<p id="checkoutvalue">Order date: <b>@Model.OrderDateTime</b></p>

<div class="col-lg-3 col-lg-3" style="display: inline-block;">
    <p>PERSONAL DATA</p>
    <p>First Name: @Model.FirstName </p>
    <p>Last Name: @Model.LastName</p>
    <p>Email: @Model.Email</p>
    <p>Phone number: @Model.PhoneNumber</p>
</div>
<div class="col-lg-3 col-lg-3" style="display: inline-block;">
    <p>BILLING ADDRESS</p>
    <p>Country: @Model.BillingCountry </p>
    <p>City: @Model.BillingCity</p>
    <p>ZipCode: @Model.BillingZip</p>
    <p>Address: @Model.BillingAddress</p>
</div>
<div class="col-lg-3 col-lg-3" style="display: inline-block;">
    <p>SHIPPING ADDRESS</p>
    <p>Country: @Model.ShippingCountry </p>
    <p>City: @Model.ShippingCity</p>
    <p>ZipCode: @Model.ShippingZip</p>
    <p>Address: @Model.ShippingAddress</p>
</div>

<br/>
@if (Model.IsPayed)
{
    <p>This order is already payed!</p>
}
else
{
    <p>You will have to pay @Model.ShoppingCartValue$ upon receipt!</p>
}

<a asp-controller="Product" asp-action="Index">Go to main page</a>