@model Codecool.CodecoolShop.Models.User

@{
    ViewData["Title"] = "ShoppingCart";
    decimal cartValue = 0 ;
    
}
<<script src="../js/CheckoutCounter.js" defer></script>
<h1>@ViewData["Title"]</h1>


    @foreach (var item in Model.Cart.Details)
    {
        cartValue += item.Product.DefaultPrice;
        <div class="shopping-cart-holder">
            <div class="img-container">
                <img src="../img/@(item.Product.Name).jpg" width="100%" height="100%"/>
            </div>
            <div class="product-name-container">
                <h4>@item.Product.Name</h4>
                
            </div>
            <div class="product-description-container">
                <div class="product-quantity-container">
                    <input type="number" min="1" max="@item.Product.MaxInStock" value="@item.Quantity" onclick="onClickEventInput()"/>
                    <form><button type="submit" asp-controller="Product" asp-action="PlusQuantity" asp-route-id="@item.Product.Id">+</button></form>
                    <form><button type="submit" asp-controller="Product" asp-action="MinusQuantity" asp-route-id="@item.Product.Id">- </button></form>
                    <p>@item.Product.DefaultPrice$</p>
                </div>
                <p>@item.Product.Description</p>
            </div>
            

        </div>
    }

<p id="checkoutvalue">Total cart value @cartValue$</p>
@if (Model.Cart.Details.Count > 0)
{
    <a asp-controller="Product" asp-action="Checkout" >Checkout</a>
}
else
{
    <p>Your shopping cart is empty!</p>
}

